* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro' !important;
}

h1 {
  font-size: xx-large;
  font-weight: bolder !important;
}

p {
  font-weight: bold;
  font-size: large;
  text-align: left;
  line-height: 32px;
}

ul {
  font-weight: bold;
  font-size: large;
  padding-left: 40px;
  text-align: left;
  line-height: 32px;
}

main {
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, #d2001a, #7462ff, #23d5ab, #f1e366, #14e5f4);
  background-size: 300% 300%;
  animation: color 10s ease-in-out infinite;
}


@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.container {
  margin: 2% auto 2% auto;
  width: 75%;
  text-align: center;
}

.text {
  margin: 2% 0 2% 0;
  padding: 10px 0 10px 0;
}

img {
  /* width: 25%; */
  border-radius: 10px;
  margin: 20px;
}

/* For Mobile */
@media screen and (max-width: 600px) {
  img {
    width: 25%;
  }
}

/* For Laptops */
@media screen and (min-width: 600px) {
  img {
    width: 15%;
  }
}

.navbar {
  background-color: rgba(255,255,255,0.5);
}

