* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Lucida Console", "Courier New"; */
  font-family: 'Anonymous Pro', sans-serif;
}

h1 {
  font-size: 64px;
}

p {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  line-height: 32px;
}

ul {
  font-weight: bold;
  font-size: 24px;
  padding-left: 40px;
  text-align: left;
  line-height: 32px;
}

main {
  display: flex;
  flex-direction: row;

  /* height: 100vh;
  width: 100%; */
  background: linear-gradient(45deg, #d2001a, #7462ff, #23d5ab, #f1e366);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}


@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  margin: 2% auto 2% auto;
  width: 75%;
  text-align: center;
}

.text {
  margin: 2% 0 2% 0;
  padding: 10px 0 10px 0;
}

img {
  width: 15%;
  border-radius: 10px;
  margin: 20px;
}
