* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Anonymous Pro' !important; */
  font-family: "Reddit Mono", monospace;
}

h1 h2 h3 {
  font-weight: bolder !important;
}

p {
  font-weight: normal;
  text-align: left;
  line-height: 30px;
}

ul {
  font-weight: normal;
  /* font-size: large; */
  line-height: 30px;
}

.indent {
  padding-left: 40px;
  text-align: left;
}

main {
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, #d2001a, #7462ff, #23d5ab, #f1e366, #14e5f4);
  background-size: 300% 300%;
  animation: color 10s ease-in-out infinite;
}


@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.container {
  margin: 2% auto 2% auto;
  width: 75%;
  text-align: center;
}

.text {
  margin: 2% 0 2% 0;
  padding: 10px 0 10px 0;
}

img {
  /* width: 25%; */
  border-radius: 10px;
  margin: 20px;
}

/* For Mobile */
@media screen and (max-width: 800px) {
  img {
    width: 25%;
  }
  ul {
    font-size: 14px !important;
    line-height: 20px;

  }
  p {
    font-size: 14px !important;
    line-height: 20px;

  }

}

/* For Laptops */
@media screen and (min-width: 800px) {
  img {
    width: 15%;
  }
  .container {
    width: 800px !important;
  }
}

.navbar {
  /* background-color: rgba(255,255,255,0.5); */
  border-style: solid;
  border-color:black transparent;
  border-width: 2px;

}

.underline {
  text-decoration: underline !important;
}

.icon {
  width: 10%;
}

.card {
  margin-bottom: 2%;
  background-color: transparent !important;
  border-width: 2px !important;
}
.card-subtitle {
  color: rgb(66, 66, 66) !important;
}
